In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [20]:
app_df = pd.read_csv("energydata_complete.csv")
app_df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [21]:
app_df.shape

(19735, 29)

In [22]:
(list(app_df.lights.unique()))

[30, 40, 50, 70, 60, 10, 20, 0]

***Creating a linear model for T2 and T6**

In [26]:
temp_df = app_df[["T2","T6"]]
temp_df.shape

(19735, 2)

In [75]:
temp_df["T2"]

0        19.200000
1        19.200000
2        19.200000
3        19.200000
4        19.200000
           ...
19730    25.890000
19731    25.754000
19732    25.628571
19733    25.414000
19734    25.264286
Name: T2, Length: 19735, dtype: float64

In [81]:
X = temp_df.iloc[:,0]
y = temp_df.iloc[:,1]

In [168]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Ridge,Lasso
X_train,X_test,y_train,y_test =train_test_split(X,y, test_size =0.2,random_state = 1)

Making the X_train to be in a (-1,1) array for compatibility with the model

In [82]:
X_train = X_train.reshape(-1,1)
X_test = X_test.reshape(-1,1)

In [98]:
lmodel = LinearRegression()
linear_model = lmodel.fit(X_train,y_train)
pred_temp = linear_model.predict(X_test)

In [112]:
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error
# calculating the r2 score and rounding it to 2dp.
score_r2 = r2_score(y_test,pred_temp)
score_r2.round(2)

0.65

Question 13

In [88]:
app_df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [91]:
app_df.drop(["date","lights"],axis = 1 ,inplace =True)

In [199]:
app_df.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [143]:
from sklearn.preprocessing import MinMaxScaler
scale = MinMaxScaler()
scaled_df = pd.DataFrame(scale.fit_transform(app_df),columns =app_df.columns)
scaled_df.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.046729,0.32735,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.046729,0.32735,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.037383,0.32735,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.037383,0.32735,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.046729,0.32735,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611

In [101]:
Xm =scaled_df.iloc[:,1:]
ym = scaled_df.iloc[:,0]
Xm_train,Xm_test,ym_train,ym_test = train_test_split(Xm, ym, test_size = 0.3, random_state =42)

In [134]:
model = lmodel.fit(Xm_train,ym_train)
y_pred = model.predict(Xm_test)

In [153]:
MAE = mean_absolute_error(ym_test,y_pred).round(2)
RSS = ((ym_test - y_pred)**2).sum()
RSS = RSS.round(2)

In [154]:
mse = mean_squared_error(ym_test,y_pred).round()
RMSE = np.sqrt(mse).round(3)
rscore = r2_score(ym_test,y_pred).round(2)

In [180]:
print(f"mse:{mse}")
print(f"MAE:{MAE}")
print(f"RSS:{RSS}")
print(f"RMSE: {RMSE}" )
print(f"r^2:{rscore} " )

mse:0.0
MAE:0.05
RSS:45.35
RMSE: 0.0
r^2:0.15

In [167]:
coef_df = pd.DataFrame(list(Xm_train.columns)).copy()
coef_df.insert(len(coef_df.columns),"coefficients",model.coef_.transpose())
coef_df.sort_values(by="coefficients", ascending = False)

              0  coefficients
1          RH_1      0.553547
4            T3      0.290627
10           T6      0.236425
23    Tdewpoint      0.117758
14           T8      0.101995
5          RH_3      0.096048
11         RH_6      0.038049
21    Windspeed      0.029183
6            T4      0.028981
7          RH_4      0.026386
9          RH_5      0.016006
22   Visibility      0.012307
12           T7      0.010319
19  Press_mm_hg      0.006839
25          rv2      0.000770
24          rv1      0.000770
0            T1     -0.003281
8            T5     -0.015657
17         RH_9     -0.039800
13         RH_7     -0.044614
20       RH_out     -0.077671
15         RH_8     -0.157595
16           T9     -0.189941
2            T2     -0.236178
18        T_out     -0.321860
3          RH_2     -0.456698

**Working with ridge and lasso regression**

In [183]:
ridge_model = Ridge(alpha = 0.4)
Rmodel = ridge_model.fit(Xm_train,ym_train)
Rmodel_pred = ridge_model.predict(Xm_test)

In [184]:
MSE_ridge = mean_squared_error(ym_test,Rmodel_pred)
print(f"MSE_ridge:{MSE_ridge}")
RMSE_ridge = np.sqrt(MSE_ridge)
print(f"RMSE:{RMSE_ridge }")

MSE_ridge:0.007662176129398587
RMSE:0.08753385704628003

In [186]:
lasso_model = Lasso(alpha =0.001)
lassomodel = lasso_model.fit(Xm_train,ym_train)
lassocoef_df = pd.DataFrame(list(Xm_train.columns)).copy()
lassocoef_df.insert(len(lassocoef_df.columns),"Lasso_coefficients",lassomodel.coef_.transpose())
lassocoef_df.sort_values(by="Lasso_coefficients", ascending = False)

              0  Lasso_coefficients
1          RH_1            0.017880
21    Windspeed            0.002912
0            T1            0.000000
12           T7           -0.000000
24          rv1           -0.000000
23    Tdewpoint            0.000000
22   Visibility            0.000000
19  Press_mm_hg           -0.000000
18        T_out            0.000000
17         RH_9           -0.000000
16           T9           -0.000000
14           T8            0.000000
13         RH_7           -0.000000
11         RH_6           -0.000000
10           T6            0.000000
9          RH_5            0.000000
8            T5           -0.000000
7          RH_4            0.000000
6            T4           -0.000000
5          RH_3            0.000000
4            T3            0.000000
3          RH_2           -0.000000
2            T2            0.000000
25          rv2           -0.000000
15         RH_8           -0.000110
20       RH_out           -0.049557

In [189]:
non_zero =[]
for i in lassocoef_df["Lasso_coefficients"]:
    if i != 0:
        non_zero.append(i)

In [192]:
len(non_zero)

4

In [198]:
lasso_pred = lassomodel.predict(Xm_test)
lasso_MSE = mean_squared_error(ym_test,lasso_pred)
lasso_RSS = np.sqrt(lasso_MSE).round(3)
print(f"lasso_RSS:{lasso_RSS}")

lasso_RSS:0.094